<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-mediation-facebook-jd" version="1.5.0">

    <name>AdMob Mediation Adapter for Facebook Audience Network</name>
    <description>AdMob Mediation Adapter for Facebook Audience Network</description>
    <author>Sylvain Bréjeon</author>
    <keywords>admob,mediation,facebook</keywords>
    <license>MIT</license>

    <platform name="android">
        <preference name="GOOGLE_ADS_MEDIATION_FACEBOOK_VERSION_ANDROID" default="6.14.0.0" />
        <framework src="com.google.ads.mediation:facebook:$GOOGLE_ADS_MEDIATION_FACEBOOK_VERSION_ANDROID" />
    </platform>

    <platform name="ios">
        <preference name="GOOGLE_ADS_MEDIATION_FACEBOOK_VERSION_IOS" default="~> 6.12.0.1" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="GoogleMobileAdsMediationFacebook" spec="$GOOGLE_ADS_MEDIATION_FACEBOOK_VERSION_IOS" />
            </pods>
        </podspec>
         <!-- Add in the swift-support plugin by default -->
        <!-- <dependency id="cordova-plugin-add-swift-support" /> -->
        <config-file target="*-Info.plist" parent="SKAdNetworkItems">
            <array>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>v9wttpbfk9.skadnetwork</string>
                </dict>
                <dict>
                    <key>SKAdNetworkIdentifier</key>
                    <string>n38lu8286q.skadnetwork</string>
                </dict>
            </array>
        </config-file>
    </platform>
</plugin>